.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay-underlay {
  position: fixed;  /* Position fixed to cover the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* Semi-transparent black background */
  pointer-events: none;  /* Prevent interaction with elements underneath */
}

/* Modifier class to make it an overlay (on top) */
.overlay-underlay--overlay {
  z-index: 1000;  /* High z-index to appear on top */
}

/* Modifier class to make it an underlay (below) */
.overlay-underlay--underlay {
  z-index: -1;  /* Low z-index to appear below */
}

.btn-generate-tree {
  width: 155px;
  height: 33px;
  background-color: #0499d0;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-weight: 600;
  margin-top: 0.5rem;
}

.btn-generate-tree:hover {
  background-color: rgba(4,153,208, 0.8);
  cursor: pointer;
}