.chart-container {
    padding: 0 0.5rem;
    width: 100%;
}

.tooltip-box {
    width: 350px;
    text-align: justify;
}

.tooltip-box p {
    margin: 0.5rem;
    font-size: 12px;
}

#cisco-splunk-sankey {
    width: 100%;
}